.outer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    border: 1px solid #ccc;
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    height: 700px;
}

.grid {
    flex: 0 0 calc(100% / 16);
    height: calc(100% / 16);
}

